<!--info about rooms-->
<div ng-if="showRoom" ng-repeat="floor in floors">
        
        **На {{floor.NumOfFloor}} кат има {{freeRooms[floor.NumOfFloor-1]}} соби.
    </div>

<!--Listing the floors and button for reservation-->
<div class="row">
    <div ng-repeat="floor in floors">
        <div class="col-lg-3">
            <div class="btn btn-default btn-block" ng-click="update(floor)">{{floor.NumOfFloor+" Кат"}}</div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="btn btn-default btn-block" ng-click="reserveRoom()">Резервирај соба</div>
    </div>
</div>


<!--showing the rooms from selected floor-->
<div ng-if="showRoom">
    <div ng-repeat="room in RoomsOfSelectedFloor">
        <div class="col-lg-3 text-center" style="margin:5px;" ng-class='rowClass(room)' ng-click="roomInfo(room)">Соба број: {{room.Id +" "}} <br />{{(room.Rents.length) +"/"+ room.NumOfbeds}}</div>
    </div>
</div>

<div ng-if="!showRoom" style="margin-top:15px">

  
<div class="row">
        <div class="col-lg-3 text-center">
            <select ng-model="selectedUser" ng-change="user(selectedUser)" style="padding:5px;">
                <option ng-repeat="x in users" value="{{x.Id}}">{{x.FirstName+" "+x.LastName}}</option>
            </select>
        </div>

        <div class="col-lg-3 text-center">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="from" is-open="popup1.opened" ng-change="dateFrom(from)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-lg-3 text-center">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="to" is-open="popup2.opened" ng-change="dateTo(to)" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>

        <div class="col-lg-3 text-center">
            <select ng-model="floorS" ng-change="checkRooms(floorS)" style="padding:5px;">
                <option ng-repeat="floor in floors" value="{{floor.Id}}">{{floor.NumOfFloor+" Кат"}}</option>
            </select>
        </div>
</div>
   
   
  <div class="row" ng-if="showAvailableRoom">
      <div ng-repeat="room in aRooms">
          <div class="col-lg-3 text-center" style="margin:5px;" ng-class='rowClass(room)' ng-click="roomInfo(room)">Соба број: {{room.Id +" "}} <br />{{(room.Rents.length) +"/"+ room.NumOfbeds}}</div>
      </div> 
      <div ng-if="aRooms.length==0">Нема слободни соби на избраниот кат</div>   
  </div>
 
    <!--<div class="col-lg-2">
        <button class="btn btn-success" ng-click="makeAreservation()" ng-disabled="disabled"> Резервирај</button>
    </div>-->
</div>
