<div>
    <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Информации за соби">
            <div style="margin-top: 10px">
                <!--info about rooms-->
                <uib-accordion close-others="true">
                    <uib-accordion-group ng-repeat="floor in floors" is-open="floor.isopen" ng-click="floot.isopen=!floor.isopen">
                        <uib-accordion-heading>
                            На {{floor.NumOfFloor}} кат има {{floor.NumberOfFreeRoomsAtThisMoment}} слободни соби.
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-up': floor.isopen, 'glyphicon-chevron-down': !floor.isopen}">
                            </i>
                        </uib-accordion-heading>
                        <div ng-repeat="room in floor.Rooms" ng-if="!!floor.Rooms.length">
                            <div class="col-lg-3 text-center" style="margin: 5px;" ng-class="!room.NumberOfFreeBedsAtThisMoment ? 'noFreeBeds' : 'hasFreeBeds'" ng-click="roomInfo(room)">
                                <span>
                                    Соба број: {{room.Id}}
                                    <br />
                                    {{room.NumOfBeds - room.NumberOfFreeBedsAtThisMoment}}/{{room.NumOfBeds}}
                                </span>
                            </div>
                        </div>
                        <div ng-if="!floor.Rooms.length">
                            <span>
                                Нема соби на избраниот спрат.
                            </span>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Резервација">
            <div class="row" style="margin-top: 10px">
                <span class="col-lg-4">
                    <select ng-model="search.User"
                            ng-options="user.FullName for user in users track by user.Id"
                            class="form-control" style="margin-bottom: 10px">
                        <option value="">Изберете корисник</option>
                    </select>
                </span>

                <p class="input-group col-lg-4" style="float: left !important">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="search.DateStart" is-open="dateStart.opened"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateStartOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>

                <p class="input-group col-lg-4" style="float: left !important; padding-left: 15px">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="search.DateEnd" is-open="dateEnd.opened"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dateEndOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div style="margin-top: 10px">
                <!--info about rooms-->
                <uib-accordion close-others="true">
                    <uib-accordion-group ng-repeat="floor in searchFloors" is-open="floor.isopen" ng-click="floot.isopen=!floor.isopen">
                        <uib-accordion-heading>
                            На {{floor.NumOfFloor}} кат има {{floor.NumberOfFreeRoomsForSelectedPeriod}} слободни соби.
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-up': floor.isopen, 'glyphicon-chevron-down': !floor.isopen}">
                            </i>
                        </uib-accordion-heading>
                        <div ng-repeat="room in floor.Rooms" ng-if="!!floor.Rooms.length">
                            <div class="col-lg-3 text-center" style="margin: 5px;" ng-class="!room.NumberOfFreeBedsForSelectedPeriod ? 'noFreeBeds' : 'hasFreeBeds'" ng-click="roomInfoForPeriod(room)">
                                <span>
                                    Соба број: {{room.Id}}
                                    <br />
                                    {{room.NumOfBeds - room.NumberOfFreeBedsForSelectedPeriod}}/{{room.NumOfBeds}}
                                </span>
                            </div>
                        </div>
                        <div ng-if="!floor.Rooms.length">
                            <span>
                                Нема соби на избраниот спрат.
                            </span>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </uib-tab>
    </uib-tabset>
</div>