<div>
    <table class="table-striped" style="width:100%">
        <thead>
            <tr class="text-left">
                <th>Име</th>
                <th>Презиме</th>
                <th>Од</th>
                <th>До</th>
                <th>Соба бр:</th>
                <th>Кат</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rent in Rents" class="text-left" style="padding:5px">
                <td>{{rent.UserFirstName}}</td>
                <td>{{rent.UserLastName}}</td>
                <td>{{rent.DateStart | jsDate}}</td>
                <td>{{rent.DateEnd | jsDate}}</td>
                <td>{{rent.RoomId}}</td>
                <td>{{rent.Floor}}</td>
                <td><a ng-click="deleteRent(rent)"><i class="fa fa-remove fa-2x" aria-hidden="true"></i></a></td>
                <td><a ng-click="addNewBill(rent)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>