<div class="modal-header">
    <h3 class="modal-title">Информации за соба број: {{room.Id}}</h3>
</div>
<div class="modal-body">
    <table class="table-responsive table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Име и презиме</th>
                <th>Датум од</th>
                <th>Датум до</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rent in room.Rents | filter: forPeriod">
                <td>{{rent.User.FirstName + " " + rent.User.LastName}}</td>
                <td>{{rent.DateStart | jsDate}}</td>
                <td>{{rent.DateEnd | jsDate}}</td>
            </tr>
        </tbody>
        <tbody ng-if="!!!(room.Rents | filter: forPeriod).length">
            <tr>
                <td colspan="3">Нема резервации за избраниот период во оваа соба</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="makeReservation()">Резервирај</button>
    <button class="btn btn-info" type="button" ng-click="cancel()">Затвори</button>
</div>
