
@{
    ViewBag.Title = "Најави се";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="col-lg-6 col-lg-offset-3" ng-controller="mainController">
    <form name="loginForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Е-маил адреса</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Е-маил адреса" ng-model="email" required  ng-class="{ 'has-error' : loginFrom.email.$invalid &&  !loginFrom.email.$pristine }">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Лозинка</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Лозинка" ng-model="password" required  ng-class="{ 'has-error' : loginFrom.password.$invalid &&  !loginFrom.password.$pristine }">
        </div>

        <button class="btn btn-default" ng-click="login(loginForm)">Најави се</button>
    </form>
   <label>{{msg}}</label>
</div>
